@import './variables.scss';

/*
    text-transform
    text-decoration
    outline
    border
    эдгээр property-ийг судлаарай
*/

@mixin primary-gradient {
    background: linear-gradient(73.06deg, #56CCF2 0%, #2F80ED 75.06%);
}

.btn {
    font-family: Raleway;
    width: 100%;
    text-align: center;
    // font-weight: bold;
    background-color: rgb(239, 239, 239);
    font-size: 16px;
    line-height: 24px;
    border-width: 0;
    text-decoration: none !important;
    outline: none !important;
    @include primary-gradient()
}

.btn-pf {
    font-family: Raleway;
    height: 100%;
    width: 30%;
    text-align: center;
    background-color: #F1F6FF;
    font-size: 16px;
    line-height: 24px;
    border-width: 0;
    text-decoration: none !important;
    outline: none !important;
}

.btn-fb {
    height: 100%;
    width: 100%;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-width: 0;
    border-radius: 5px;
    text-decoration: none !important;
    outline: none !important;
    background: #2F80ED;
    color: white;
}

.btn-action{
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    border-width: 0;
    // background: #1DD3D2;
    height: 50px;
    width: 87vw;
    justify-content: center;
    color: #FFFFFF;
    @include primary-gradient()
}

.disabled {
    background: #BDBDBD;
    pointer-events: none;
    user-select: none;
}

.upvoted {
    user-select: none;
    background-color: lime;
}

.vote {
    user-select: none;
    background-color: grey;
}

.input {
    box-sizing: border-box;
    padding-left: 19px;
    text-decoration: none !important;
    outline: none !important;
}

.box {
    border-radius: 16px;
}

.box-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.box-bottom {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.oroltsoh {
    background: #1DD3D2;
    border-radius: 10px;
}

.burtguuleh-disabled {
    background: #BDBDBD;
    border-radius: 5px;
}

.comment {
    background: #FFFFFF;
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    border-radius: 10px;
}

.search-bar {
    background: #F6FFFF;
    border: 1px solid #1DD3D2;
    box-sizing: border-box;
    border-radius: 10px;
    height: 35px;
}

.fb-btn {
    background: #2F80ED;
    border-radius: 5px;
}

.google-btn {
    background: #2D9CDB;
    border-radius: 5px;
}

.burtguuleh {
    background: #1DD3D2;
    border-radius: 5px;
}

.comment {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    height: 20px;
}

.info-input {
    // border: 1px solid #E0E0E0;
    box-sizing: border-box;
}

.login-input {
    background: #FFFFFF;
    border: 1px solid #F4F5F8;
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
}

.toggle-menu div{
    transition: all 0.65s ease;
}

.menu-indicator {
    // transition: all 1s ease;
    width: 50%;
    position: absolute;
    left: 0;
    transform: translate(0, 0);
}

.active {
    transform: translate(100%, 0);
}

.t-45 {
    top: 45px;
}

.progress-login {
    transition: all 1s;
}
.backdrop {
    z-index: 4;
    background: black;
    position: fixed;
    opacity: 0.6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s;
}

.modal-animation {
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
}

    

.slider {
    z-index: 5;
    position: fixed;
    left: 50%;
    bottom: -15%;
    transform: translate(-50%, 200%);
    transition: 0.5s;
}
.slider-animation {
    position: fixed;
    transform: translate(-50%, -100%);
}

