@import './components.scss';
@import './flex.scss';
@import './typograph.scss';

.selfJustifyStart {
    justify-self: start;
}
.selfJustifyEnd {
    justify-self: end;
}
.selfJustifyCenter {
    justify-self: center;
}
.selfJustifyStretch {
    justify-self: stretch;
}
.selfAlignStart {
    align-self: start;
}
.selfAlignEnd {
    align-self: end;
}
.selfAlignCenter {
    align-self: center;
}
.selfAlignStretch {
    align-self: stretch;
}
.selfPlaceStart {
    place-self: start;
}
.selfPlaceEnd {
    place-self: end;
}
.selfPlaceStretch {
    place-self: stretch;
}
.selfPlaceCenter {
    place-self: center;
}
.autoGridRow {
    display: grid;
    grid-auto-flow: row;
}
.autoGridColumn {
    display: grid;
    grid-auto-flow: column;
}
.gridGap {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
}